@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column; 
    color: #ffffff;
    margin: 0;
    font-family: 'Lato', serif;
}

.pag30 {
    width: 1440px;
    height: 882px;
    background-color: #EFC356;
}

.text-primary {
    display: flex;
    flex-direction: column;
    position: absolute;
    left:92px;
    top: 239px;
    width: 600px;
    height: 418px;
    gap: 40px;
    z-index: 2;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-family: "Lato", serif;
    font-weight: 600;
}

.parrafo p {
    width: 580px;
    height: 96px;
    font-size: 24px;
    margin: 0 ;
}

.title-primary {
    width: 600px;
    height: 176px;
}

.bottom a {
    width: 291px;         
    height: 66px;         
    background: #ffffff;    
    border-radius: 40px;   
    padding:0px 16px;       
    color: #000000;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.img-pet {
    width: 503px;
    height: 664px;
    position: absolute;
    left: 780px;
    top: 98px;
    z-index: 2;
}

.fond-pet {
    width: 438px;
    height: 133px;
    position: absolute;
    left: 796px;
    top: 640px;
    z-index: 1;
}

.paw-bot {
    width: 334px;
    height: 253px;
    position: absolute;
    left: 198px;
    top: 422px;
    z-index: 1;
}

.paw-top {
    width: 371px;
    height: 279px;
    position: absolute;
    left: 1078px;
    top: 0px;
}

.ask-img {
    width: 179px;
    height: 179px;
    position: absolute;
    left: 1168px;
    top: 567px;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EFEEEE;
    color: #000000;
    font-family: 'Lato', serif;
    width: 1190px;
    height: 156px;
    border-radius: 24px;
    position: absolute;
    left: 125px;
    top: 804px;
    z-index: 2;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 318px;
    height: 76px;
}

.box-text {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 76px;
}

.img-card {
    width: 76px;
    height: 76px;
    border-radius: 16px;
}

.title-card {
    font-family: 'Lato', serif;
    font-size: 28px;
    margin: 0;
}

.text {
    font-size: 16px;
    margin: 0;
}
